<!DOCTYPE html><!--STATUS OK-->
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<script>/* eslint-disable */void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=(c),b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);</script>


<title>百度视频搜索&mdash;&mdash;全球最大中文视频搜索引擎</title>
<meta name="keywords" content="最新电视剧,最新电影,好看的电视剧,好看的电影,电影天堂,电视剧排行榜,电影排行榜,百度影音电影,高清电影,电影推荐" />
<meta name="description" content="百度视频搜索是全球最大的中文视频搜索引擎，拥有最多的中文视频资源，提供用户最完美的观看体验。在百度视频，您可以便捷地找到最新、最热的互联网视频，更有丰富的视频榜单、多样的视频专题满足您不同的视频观看需求。百度视频，你的视界。" />

<script>(function(){var hash=location.hash.slice(1);if(hash){var params=hash.split('&'),item;for(var i=0,len=params.length;i<len;i++){item=params[i].split('=');if(item[0]==='word'&&item[1]){location.replace('http://v.baidu.com/v?fr=quicksearch&ie=utf-8&word='+item[1]);break;}}}}());</script>
<script>__header_start = +new Date;
			if (document.documentElement.clientWidth < 1245) {
				document.getElementsByTagName('html')[0].className = 'w1024';
			}else if(document.documentElement.clientWidth < 1345){
				document.getElementsByTagName('html')[0].className = 'w1280';
			}
		</script>



<link rel="stylesheet" type="text/css" href="http://vs5.bdstatic.com/browse_static/v3/common/pkg/common_sync_css_0_f2a7259b.css" /><link rel="stylesheet" type="text/css" href="http://vs6.bdstatic.com/browse_static/v3/index/pkg/index_sync_css_1_dbb23c7.css" /><link rel="stylesheet" type="text/css" href="http://vs5.bdstatic.com/browse_static/v3/index/pkg/index_sync_css_2_450b02e.css" /><link rel="stylesheet" type="text/css" href="http://vs5.bdstatic.com/browse_static/v3/common/pkg/common_ui_video_0b4eaf27.css" /><link rel="stylesheet" type="text/css" href="http://vs6.bdstatic.com/browse_static/v3/index/pkg/home_dfd8d6c.css" /><link rel="stylesheet" type="text/css" href="http://vs6.bdstatic.com/browse_static/v3/index/pkg/index_sync_css_0_aba0ac3.css" /></head>
<script>alog('speed.set', 'ht', +new Date);</script>
<body>






<div style="height: 0px;overflow: hidden;"><div id="flashTestElem"></div></div>

<div id="header" monkey="header"  alog-alias="header" >
<div class="hd-inner">
<div class="hd-inner2 ">
<div id="userbar" static="bl=userbar" monkey="userbar" alog-alias="userbar"></div>
<div id="logo">
<a href="http://v.baidu.com/" class="link-home">
<img src="http://img.baidu.com/video/img/video_logo_new.gif" alt="百度视频" />
</a>
</div><div class="hd-nav">
<div id="navmini">
<a href="javascript:void(0)" class="link-toggle">导航<i></i></a>
<div class="bd" static="bl=float_nav_list"><ul></ul></div>
</div>
</div>
<div id="tabsearch">
<div class="tabs">
<a href="http://news.baidu.com/" data-product="news">新闻</a><a href="http://www.baidu.com/" data-product="ps">网页</a><a href="http://tieba.baidu.com/" data-product="tieba">贴吧</a><a href="http://zhidao.baidu.com/" data-product="zhidao">知道</a><a href="http://music.baidu.com/" data-product="music">音乐</a><a href="http://image.baidu.com/" data-product="image">图片</a><strong>视频</strong><a href="http://map.baidu.com/" data-product="map">地图</a><a href="http://baike.baidu.com/" data-product="baike">百科</a><a href="http://www.hao123.com/" target="_blank">hao123</a>
</div>
<div class="bd">
<form action="/v" method="get" name="f1" id="bdvSearch" class="bdv-search" target="_blank">
<span class="bdv-search-inputs">
<input type="text" maxlength="120" id="bdvSearchInput" name="word" value="年终奖调查报告" data-prekey="年终奖调查报告" class="place-holder" autocomplete="off" />
</span>
<span class="bdv-search-btns">
<input type="submit" value="百度一下" id="bdvSearchBtn" />
</span>
<input name="ct" type="hidden" value="301989888" />
<input name="rn" type="hidden" value="20" />
<input name="pn" type="hidden" value="0" />
<input name="db" type="hidden" value="0" />
<input name="s" type="hidden" value="0" />
<input name="fbl" type="hidden" value="800" />
<input name="ie" type="hidden" value="utf-8" />
<input name="oq" type="hidden"  disabled="disabled" />
<input name="f" type="hidden" value="3"  disabled="disabled" />
<input name="rsp" type="hidden"  disabled="disabled" />
</form>
</div>
</div>
<div class="hd-trace">
<div id="bdvTrace" class="bdv-trace" static="tn=indsa&bl=bdvTrace">
<a href="javascript:;" class="bdv-trace-toggle" title="追剧" static="stp=toggle&toggle=1">追剧<i></i></a>
<span class="bdv-trace-icons bdv-trace-notify"></span>
<div class="bdv-trace-main" style="display: none">
<div class="bdv-trace-arrow"><em>◆</em><i>◆</i></div>
<div class="bdv-trace-content bdv-trace-none">
<p>订阅精彩视频，请<a href="javascript:;" class="bdv-trace-login" title="登录" static="stp=login">登录</a></p>
</div>
</div>
</div>
<script type="text/html" id="bdvTraceNoneTpl">
<p>您最近没有任何订阅</p>
<a href="/tv" target="_blank" title="去电视剧频道随便看看" static="stp=toTv">去电视剧频道随便看看&gt;&gt;</a>
</script>
<script type="text/html" id="bdvTraceBdTpl">
<div class="bdv-trace-bd"></div>
<div class="bdv-trace-ft clearfix">
    <a href="javascript:;" class="bdv-trace-pager bdv-trace-pager-left" data-page="prev" title="上一页" static="stp=prev">&lt;上一页</a>
    <span class="bdv-trace-pager-no"></span>
    <a href="javascript:;" class="bdv-trace-pager bdv-trace-pager-right" data-page="next" title="下一页" static="stp=next">下一页&gt;</a>
</div>
</script>
<script type="text/html" id="bdvTraceItemTpl">
<% var suffix = frp ? '?frp=' + frp : '';
for (var i = 0, item; item = pageData[i]; i += 1) {
    item.cur_episode *= 1;
    item.max_episode *= 1;
    var introUrl = ['/', item.works_type, '/', item.works_id, '.htm', suffix].join(''),
        itemTitle = item.title + (item.season > 0 ? (' 第' + item.season + '季') : '');
%>
<dl class="bdv-trace-item">
    <% if (item.works_type !== 'show') { %>
    <dt>
        <h3><a href="<%=introUrl%>" title="<%=itemTitle%>" target="_blank" static="stp=ti&to=search"><%=itemTitle%></a></h3>
        <span class="bdv-trace-item-update">&nbsp;
        <% if (item.cur_episode > 0 && (item.max_episode == 0 || item.cur_episode < item.max_episode)) { %>
            更新至<b><%=item.cur_episode%></b>集
            <% if (item.max_episode > 0) { %>&nbsp;|&nbsp;<% } %>
        <% } %>
        <% if (item.max_episode > 0) { %>全<%=item.max_episode%>集<% } %>
        </span>
    </dt>
    <dd class="bdv-trace-item-episodes">
        <ol data-id="<%=item.works_id%>" data-type="<%=item.works_type%>">
        <% for (var epIndex = 0, len = item.episodes.length; epIndex < len && epIndex < 5; epIndex += 1) {
            var ep = item.episodes[epIndex];
        %>
            <li>
            <% if (len === 1 && item.last_view == ep.episode) { %>
                <div class="bdv-trace-item-episode-latest">已看到最新集</div>
            </li>
            <% break; %>
            <% } %>
            <% if (epIndex === 3 && (ep.episode * 1 - item.episodes[epIndex - 1].episode * 1 !== 1)) { %>
                <div class="bdv-trace-item-episode-holder">...</div>
            </li>
            <li>
            <% } %>
            <% if (item.last_view == ep.episode) { %>
                <i class="bdv-trace-icons bdv-trace-record"></i>
            <% } %>
            <% if (ep.is_new == 1 && item.last_view != ep.episode) { %>
                <i class="bdv-trace-icons bdv-trace-new"></i>
            <% } %>
            <% if (ep.is_play == 1) { %>
                <a href="<%=func.getPlayUrl(item, ep)%>" target="_blank" title="<%=ep.title%>"
                 static="stp=jp&to=play" data-ep="<%=ep.episode%>" data-new="<%=ep.is_new%>"
                ><%=ep.episode%></a>
            <% } else { %>
                <a href="javascript:;" title="暂无资源">暂无</a>
            <% } %>
            </li>
        <% } %>
        </ol>
    </dd>
    <% } else { %>
    <dt>
        <h3><a href="<%=introUrl%>" title="<%=itemTitle%>" target="_blank" static="stp=ti&to=search"><%=itemTitle%></a></h3>
        <% if (item.max_episode > 0) { %>
        <span class="bdv-trace-item-update">&nbsp;更新至<b><%=item.max_episode%></b>期</span>
        <% } %>
    </dt>
    <dd class="bdv-trace-item-episodes bdv-trace-item-episodes-show">
        <ol data-id="<%=item.works_id%>" data-type="<%=item.works_type%>">
        <% for (var epIndex = 0, len = item.episodes.length; epIndex < len && epIndex < 3; epIndex += 1) {
            var ep = item.episodes[epIndex];
        %>
            <li>
            <% if (len === 1 && item.last_view == ep.episode) { %>
                <div class="bdv-trace-item-episode-latest">已看到最新集</div>
            </li>
            <% break; %>
            <% } %>
            <% if (epIndex === 2 && (item.episodes[epIndex - 1].episode * 1 - ep.episode * 1 !== 1)) { %>
                <div class="bdv-trace-item-episode-holder">...</div>
            </li>
            <li>
            <% } %>
            <% if (item.last_view == ep.episode) { %>
                <i class="bdv-trace-icons bdv-trace-record"></i>
            <% } %>
            <% if (ep.is_new == 1 && item.last_view != ep.episode) { %>
                <i class="bdv-trace-icons bdv-trace-new"></i>
            <% } %>
            <% if (ep.is_play == 1) { %>
                <a href="<%=func.getPlayUrl(item, ep)%>" target="_blank" title="<%=ep.title%>"
                 static="stp=jp&to=play" data-ep="<%=ep.episode%>" data-new="<%=ep.is_new%>"
                ><span><%=ep.episode%>：</span><%=ep.title%></a>
            <% } else { %>
                <a href="javascript:;" title="暂无资源">暂无资源</a>
            <% } %>
            </li>
        <% } %>
        </ol>
    </dd>
    <% } %>

    <dd class="bdv-trace-item-ft">
        <a href="<%=introUrl%>" title="查看全部" target="_blank" class="bdv-trace-item-all" static="stp=all&to=search">查看全部</a>
        <a href="javascript:;" title="删除" class="bdv-trace-item-del" data-id="<%=item.works_id%>" data-type="<%=item.works_type%>" static="stp=del&id=<%=item.works_id%>&type=<%=item.works_type%>">删除</a>
    </dd>
</dl>
<% } %>
</script>
</div>
<div class="hd-record">
<div id="bdvRecord" class="bdv-record with-bdv-trace">
<a href="javascript:;" class="bdv-record-toggle" data-event="click" hidefocus="true">记录<i></i></a>
<span class="bdv-record-num" style="display:none"></span>
<div class="bdv-record-arrow"><em>◆</em><i>◆</i></div>
<div class="bdv-record-main"></div>
</div>
<script id="bdvrecord_js" charset="utf-8"></script>
</div>
<div class="hd-paopao">
<div id="index_right_shixiao" static="bl=index_right_qipao"></div>
<script type="text/template" id="index_right_shixiao_tpl">
        <% if (data && data.is_hd == 1){ %>
            <% var item = data; %>
            <% var isClose = item.hot_week == 1; %>
        <div class="pop-wrap-big<% if (isClose){ %> hide<% } %>">
            <a href="#" class="pop-close" static="stp=close"></a>
            <div class="pop-inner">
                <span class="label">热点：</span>
                <p class="big"><a href="<%=item.url%>" target="_blank" static="stp=pop_content"><%=item.intro%></a></p>
            </div>
        </div>
        <div class="pop-wrap-small<% if (isClose){ %> show<% } %>"><span class="label">· 热点：</span><a href="<%=item.url%>" target="_blank" static="stp=normal_content"><%=item.title%></a></div>
        <% } %>
    </script>
</div>
<div class="hd-keyword">
<div id="searchKeyword" class="search-keyword" static="bl=top_search_Keyword">
<ul>
<li>
<a href="http://v.baidu.com/tv/23355.htm?frp=browse" target="_blank">特种兵之霹雳火</a>
</li>
<li>
<a href="http://v.baidu.com/show/14239.htm?frp=browse" target="_blank">我是歌手4</a>
</li>
<li>
<a href="http://v.baidu.com/movie/119393.htm?frp=browse" target="_blank">大圣归来</a>
</li>
<li>
<a href="http://v.baidu.com/tv/23404.htm?frp=browse" target="_blank">少帅</a>
</li>
<li>
<a href="http://v.baidu.com/tv/23427.htm?frp=browse" target="_blank">蜀山战纪</a>
</li>
<li>
<a href="http://v.baidu.com/movie/120998.htm?frp=browse" target="_blank">暗杀</a>
</li>
<li>
<a href="http://v.baidu.com/tv/23367.htm?frp=browse" target="_blank">太子妃升职记</a>
</li>
<li>
<a href="http://v.baidu.com/hotvideos/" target="_blank">更多&gt;&gt;</a>
</li>
</ul>
</div>
</div>
<div class="index-right-top" id="index_right_top" static="bl=adv_float_top" monkey="adv_float_top"></div>
</div></div></div>
<div id="bgPromote">
</div>
<div id="nav" monkey="nav" alog-alias="nav" static="bl=nav_list"><div class="nav-inner ">
<ul class="menu-main">
<li class="current">
<a href="http://v.baidu.com/">
首页
</a>
</li>
<li>
<a href="http://v.baidu.com/tv">
电视剧
</a>
</li>
<li>
<a href="http://v.baidu.com/movie">
电影
</a>
</li>
<li>
<a href="http://v.baidu.com/show">
综艺
</a>
</li>
<li>
<a href="http://v.baidu.com/comic">
动漫
</a>
</li>
<li>
<a href="http://v.baidu.com/entindex/">
娱乐
</a>
</li>
<li>
<a href="http://v.baidu.com/infoindex/">
资讯
</a>
</li>
<li>
<a href="http://v.baidu.com/sportindex/">
体育
</a>
</li>
<li>
<a href="http://v.baidu.com/gameindex/">
游戏
</a>
</li>
<li>
<a href="http://v.baidu.com/eduindex/">
教育
</a>
</li>
<li>
<a href="http://v.baidu.com/live/">
卫视
</a>
</li>
</ul>
<ul class="menu-sub">
<li>
<a href="http://v.baidu.com/square/">
随心看
</a>
</li>
<li>
<a href="http://yb.baidu.com/" target="_blank">
影棒
</a>
</li>
<li>
<a href="http://spread.xiu8.com/spreed!baiduGo.jspa?pid=1070&sid=7&t=1" target="_blank">
互动
</a>
</li>
<li>
<a href="http://v.baidu.com/car">
汽车
</a>
</li>
<li>
<a href="http://v.baidu.com/musicindex/">
音乐
</a>
</li>
<li>
<a href="http://v.baidu.com/amuseindex/">
搞笑
</a>
</li>
<li>
<a href="http://v.baidu.com/fashion/index">
时尚
</a>
</li>
<li>
<a href="http://v.baidu.com/gcdance/index">
广场舞
</a>
</li>
<li>
<a href="http://v.baidu.com/child/index">
亲子
</a>
</li>
<li>
<a href="http://v.baidu.com/page/jiankang">
健康
<img src="http://list.video.baidu.com/pc_static/common/blank.gif" style="bottom:30px;left:0px" />
</a>
</li>
<li>
<a href="http://v.baidu.com/cooperate/qt/keji">
科技
</a>
</li>
<li>
<a href="http://v.baidu.com/channel/vrgame/virtreal">
VR
</a>
</li>
<li>
<a href="http://v.baidu.com/top/">
排行榜
</a>
</li>
</ul>
</div></div>



<div id="content">

<div class="index-banner-top" id="index_banner_top" static="bl=adv_full_top" monkey="adv_full_top"></div>
<div class="section" alog-alias="focus">
<div class="main">
<div class="uptonews-hotsearchtags">
<div class="up-to-news" id='upToNews' static="bl=index_top_news_link&to=play" monkey="index_top_news_link" monkeyconfig="event=click&to=play">
<div class="news-title">最新要闻：</div>
<div class="news_list">
<ul class='bdv-carousel-list'>
<li class="item-selected"><a href="http://baidu.hz.letv.com/kan/aw3nT?fr=v.baidu.com/" target="_blank" static="stp=news_list&no=1">实拍男子下水与鳄鱼亲密畅游</a></li>
<li ><a href="http://baidu.hz.letv.com/kan/aw3nU?fr=v.baidu.com/" target="_blank" static="stp=news_list&no=2">实拍山羊挑衅老虎 被推下山坡</a></li>
<li ><a href="http://baidu.hz.letv.com/kan/aw3nd?fr=v.baidu.com/" target="_blank" static="stp=news_list&no=3">爬楼背摔耍双刀 女汉子无所不能</a></li>
<li ><a href="http://baidu.hz.letv.com/kan/aw3go?fr=v.baidu.com/" target="_blank" static="stp=news_list&no=4">男子出狱后持尖刀抢劫银行 特警火速抓捕</a></li>
</ul></div>
<div class="bdv-carousel-control">
<a class='btn-prev bdv-carousel-next' href="javascript:void(0)">&lt;</a>
<a class='btn-next bdv-carousel-prev' href="javascript:void(0)">&gt;</a>
</div>
</div>
<ul class="hot-search-tags" static="bl=index_top_keyword_link&to=search" monkey="index_top_keyword_link" monkeyconfig="event=click&to=search">
<li><a href="http://v.baidu.com/movie/121516.htm?frp=browse" target="_blank" static="stp=link&no=1">我的青春期</a><img class="hot-tag" src="http://vs5.bdstatic.com/browse_static/v3/index/widget/video/newsSquareTags/icon_hot_tag_4e4278e.gif" alt="我的青春期" /></li>
<li><a href="http://v.baidu.com/v?word=春晚彩排&ct=301989888&rn=20&pn=0&db=0&s=0&fbl=800&ie=utf-8" target="_blank" static="stp=link&no=2">春晚格局</a><img class="hot-tag" src="http://vs5.bdstatic.com/browse_static/v3/index/widget/video/newsSquareTags/icon_hot_tag_4e4278e.gif" alt="春晚格局" /></li>
<li><a href="http://v.baidu.com/square/?fid=1&tag=%E9%9C%8D%E5%BB%BA%E5%8D%8E&sort=hot" target="_blank" static="stp=link&no=3">霍建华</a></li>
<li><a href="http://v.baidu.com/square/?fid=1&tag=%E8%8C%83%E5%86%B0%E5%86%B0%E6%9D%8E%E6%99%A8&sort=hot" target="_blank" static="stp=link&no=4">范冰冰李晨</a><img class="hot-tag" src="http://vs5.bdstatic.com/browse_static/v3/index/widget/video/newsSquareTags/icon_hot_tag_4e4278e.gif" alt="范冰冰李晨" /></li>
<li><a href="http://v.baidu.com/square/?fid=1&tag=%E8%83%A1%E6%AD%8C&sort=hot" target="_blank" static="stp=link&no=5">胡歌</a></li>
<li><a href="http://v.baidu.com/v?word=春运新变化&ct=301989888&rn=20&pn=0&db=0&s=0&fbl=800&ie=utf-8" target="_blank" static="stp=link&no=6">春运</a></li>
<li><a href="http://v.baidu.com/square/?fid=1&tag=%E7%8E%8B%E6%80%9D%E8%81%AA&sort=hot" target="_blank" static="stp=link&no=7">王思聪</a></li>
<li><a href="http://v.baidu.com/v?word=全国降温&ct=301989888&rn=20&pn=0&db=0&s=0&fbl=800&ie=utf-8" target="_blank" static="stp=link&no=8">世纪寒潮</a><img class="hot-tag" src="http://vs5.bdstatic.com/browse_static/v3/index/widget/video/newsSquareTags/icon_hot_tag_4e4278e.gif" alt="世纪寒潮" /></li>
<li><a href="http://v.baidu.com/movie/120621.htm?frp=browse" target="_blank" static="stp=link&no=9">夏洛特烦恼</a></li>
<li><a href="http://v.baidu.com/square/?fid=1&tag=%E9%B9%BF%E6%99%97&sort=hot" target="_blank" static="stp=link&no=10">鹿晗</a></li>
</ul>
</div>
<div class="video-focus">
<div class="focus-carousel-images video" id='focusCarousel' monkey="focusCarousel" monkeyconfig="event=click&to=play">
<div id="focusCarouselList">
<ul class="bdv-carousel-list" static="bl=index_focus_poster_big&to=play">
<li class="bdv-carousel-item" alog-alias="focusCarousel__0">
<a href="http://www.iqiyi.com/v_19rrlb7o9g.html#vfrm=2-3-0-1" target="_blank" title='吴奇隆刘诗诗被曝拍婚纱照'>
<img src="http://e.hiphotos.baidu.com/video/pic/item/faf2b2119313b07e4f0bbf7c0bd7912397dd8c14.jpg" alt="吴奇隆刘诗诗被曝拍婚纱照" />
<span class='gradient-bg'></span>
<span class='carousel-play'></span>
<p class='carousel-title'>吴奇隆刘诗诗被曝拍婚纱照</p>
<p class='carousel-sub-title'>二人现身新西兰</p>
<i class="play-icon">
90.9&nbsp;万</i>
</a>
</li>
<li class="bdv-carousel-item" alog-alias="focusCarousel__1">
<a href="http://www.iqiyi.com/w_19rtak5g69.html#vfrm=2-3-0-1" target="_blank" title='网曝南邮学生因导师压榨跳楼'>
<img src="http://f.hiphotos.baidu.com/video/pic/item/1e30e924b899a9017a8b8e421a950a7b0208f50c.jpg" alt="网曝南邮学生因导师压榨跳楼" />
<span class='gradient-bg'></span>
<span class='carousel-play'></span>
<p class='carousel-title'>网曝南邮学生因导师压榨跳楼</p>
<p class='carousel-sub-title'>同学表示基本属实</p>
<i class="play-icon">
88.8&nbsp;万</i>
</a>
</li>
<li class="bdv-carousel-item" alog-alias="focusCarousel__2">
<a href="http://www.iqiyi.com/w_19rtalakd5.html#vfrm=2-3-0-1" target="_blank" title='佟丽娅顺利生子取名朵朵'>
<img src="http://b.hiphotos.baidu.com/video/pic/item/43a7d933c895d143a6ce085774f082025aaf070d.jpg" alt="佟丽娅顺利生子取名朵朵" />
<span class='gradient-bg'></span>
<span class='carousel-play'></span>
<p class='carousel-title'>佟丽娅顺利生子取名朵朵</p>
<p class='carousel-sub-title'>一家三口牵手照曝光</p>
<i class="play-icon">
93.0&nbsp;万</i>
</a>
</li>
<li class="bdv-carousel-item" alog-alias="focusCarousel__3">
<a href="http://baidu.hz.letv.com/kan/awlXE?fr=v.baidu.com/" target="_blank" title='黄子韬父自曝身家200亿'>
<img src="http://c.hiphotos.baidu.com/video/pic/item/5fdf8db1cb134954b9983410514e9258d0094ac4.jpg" alt="黄子韬父自曝身家200亿" />
<span class='gradient-bg'></span>
<span class='carousel-play'></span>
<p class='carousel-title'>黄子韬父自曝身家200亿</p>
<p class='carousel-sub-title'>青岛有四五套房子</p>
<i class="play-icon">
88.7&nbsp;万</i>
</a>
</li>
<li class="bdv-carousel-item" alog-alias="focusCarousel__4">
<a href="http://baidu.v.ifeng.com/kan/aw3am?fr=v.baidu.com/" target="_blank" title='实拍舞蹈老师化装成保洁员'>
<img src="http://c.hiphotos.baidu.com/video/pic/item/960a304e251f95ca18164fc2ce177f3e660952e7.jpg" alt="实拍舞蹈老师化装成保洁员" />
<span class='gradient-bg'></span>
<span class='carousel-play'></span>
<p class='carousel-title'>实拍舞蹈老师化装成保洁员</p>
<p class='carousel-sub-title'>回家打扫卫生给母亲惊喜</p>
<i class="play-icon">
89.0&nbsp;万</i>
</a>
</li>
<li class="bdv-carousel-item" alog-alias="focusCarousel__5">
<a href="http://www.iqiyi.com/v_19rrlb7ii8.html#vfrm=2-3-0-1" target="_blank" title='四川救护车司机酒驾酿车祸'>
<img src="http://g.hiphotos.baidu.com/video/pic/item/d0c8a786c9177f3eb69e2d7977cf3bc79f3d5618.jpg" alt="四川救护车司机酒驾酿车祸" />
<span class='gradient-bg'></span>
<span class='carousel-play'></span>
<p class='carousel-title'>四川救护车司机酒驾酿车祸</p>
<p class='carousel-sub-title'>致车上病人身亡</p>
<i class="play-icon">
86.7&nbsp;万</i>
</a>
</li>
<li class="bdv-carousel-item" alog-alias="focusCarousel__6">
<a href="http://www.iqiyi.com/v_19rrlb3b08.html" target="_blank" title='监拍男孩被车撞倒后遭多次碾压'>
<img src="http://d.hiphotos.baidu.com/video/pic/item/622762d0f703918fe00fefbe563d269758eec4ec.jpg" alt="监拍男孩被车撞倒后遭多次碾压" />
<span class='gradient-bg'></span>
<span class='carousel-play'></span>
<p class='carousel-title'>监拍男孩被车撞倒后遭多次碾压</p>
<p class='carousel-sub-title'>车主逃跑被截获</p>
<i class="play-icon">
90.2&nbsp;万</i>
</a>
</li>
<li class="bdv-carousel-item" alog-alias="focusCarousel__7">
<a href="http://spread.xiu8.com/spreed!baiduGo.jspa?pid=1070&amp;sid=2&amp;t=2" target="_blank" title='甜美学生妹清纯写真'>
<img src="http://a.hiphotos.baidu.com/video/pic/item/42166d224f4a20a4ec2080cd97529822720ed0fa.jpg" alt="甜美学生妹清纯写真" />
<span class='gradient-bg'></span>
<span class='carousel-play'></span>
<p class='carousel-title'>甜美学生妹清纯写真</p>
<p class='carousel-sub-title'>清新可爱学长把持不住</p>
<i class="play-icon">
69.0&nbsp;万</i>
</a>
</li>
<li class="bdv-carousel-item" alog-alias="focusCarousel__8">
<a href="http://t.cyuew.com/?eid=7b87NUiGNtN1TNX%2FlfZJdtb%2FtwA%2FrECjqa31ZJz4ua3kxg" target="_blank" title='香港影帝代言热血PK网游'>
<img src="http://f.hiphotos.baidu.com/video/pic/item/0df3d7ca7bcb0a460d17834a6c63f6246b60af88.jpg" alt="香港影帝代言热血PK网游" />
<span class='gradient-bg'></span>
<span class='carousel-play'></span>
<p class='carousel-title'>香港影帝代言热血PK网游</p>
<p class='carousel-sub-title'>原汁原味热血PK，平民玩家的天堂</p>
<i class="play-icon">
87.8&nbsp;万</i>
</a>
</li>
</ul>
</div>
<div class="bdv-carousel-control">
<ul class="bdv-carousel-dot">
<li class="dot-selected"></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
<a class="bdv-carousel-prev" href="javascript:void(0)" static="bl=focus_area_poster_tab"></a>
<a class="bdv-carousel-next" href="javascript:void(0)" static="bl=focus_area_poster_tab"></a></div>
</div>
<div class="focus-images-block" static="bl=index_focus_poster_small&to=play" monkey="focusPicarea" monkeyconfig="event=click&to=play">
<div class="focus-videos">
<div class="item lastEdge">
<div class="video h-item">
<a class='active' target="_blank" href="http://www.iqiyi.com/v_19rrlb3dew.html" title='被困矿工井下拍视频感恩' static='1'>
<img class='vid-cover' src="http://b.hiphotos.baidu.com/video/pic/item/c995d143ad4bd113727767465dafa40f4bfb050f.jpg" alt="被困矿工井下拍视频感恩" />
<span class='gradient-bg'>&nbsp;</span>
<span class='vid-info'>被困矿工井下拍视频感恩<p>盼早日团圆</p>
<i class='play-icon'>
90.4&nbsp;万</i>
<i class='play-video'>播放</i>
</span>
</a>
</div>
</div>
<div class="item ">
<div class="video h-item">
<a class='active' target="_blank" href="http://baidu.hz.letv.com/kan/aw3aW?fr=v.baidu.com/" title='王凯双手投保3600万元' static='2'>
<img class='vid-cover' src="http://a.hiphotos.baidu.com/video/pic/item/55e736d12f2eb93806d59086d2628535e5dd6f0e.jpg" alt="王凯双手投保3600万元" />
<span class='gradient-bg'>&nbsp;</span>
<span class='vid-info'>王凯双手投保3600万元<p>超过刘谦成国内第二金手</p>
<i class='play-icon'>
89.0&nbsp;万</i>
<i class='play-video'>播放</i>
</span>
</a>
</div>
</div>
<div class="item ">
<div class="video h-item">
<a class='active' target="_blank" href="http://www.iqiyi.com/v_19rrlb7taw.html#vfrm=2-3-0-1" title='邹市明夺国际金腰带' static='3'>
<img class='vid-cover' src="http://d.hiphotos.baidu.com/video/pic/item/f603918fa0ec08fa0180ffd35eee3d6d54fbdac6.jpg" alt="邹市明夺国际金腰带" />
<span class='gradient-bg'>&nbsp;</span>
<span class='vid-info'>邹市明夺国际金腰带<p>完美TKO取胜</p>
<i class='play-icon'>
88.0&nbsp;万</i>
<i class='play-video'>播放</i>
</span>
</a>
</div>
</div>
<div class="item lastEdge">
<div class="video h-item">
<a class='active' target="_blank" href="http://www.iqiyi.com/w_19rtakicfl.html#vfrm=2-3-0-1" title='实拍水族馆母鲨活吞公鲨' static='4'>
<img class='vid-cover' src="http://b.hiphotos.baidu.com/video/pic/item/8cb1cb134954092368abb30a9558d109b2de4980.jpg" alt="实拍水族馆母鲨活吞公鲨" />
<span class='gradient-bg'>&nbsp;</span>
<span class='vid-info'>实拍水族馆母鲨活吞公鲨<p>吞食下咽后悠闲游泳</p>
<i class='play-icon'>
86.8&nbsp;万</i>
<i class='play-video'>播放</i>
</span>
</a>
</div>
</div>
<div class="item ">
<div class="video h-item">
<a class='active' target="_blank" href="http://www.iqiyi.com/v_19rrlb5f8s.html" title='男子割掉妻子鼻子扔掉' static='5'>
<img class='vid-cover' src="http://e.hiphotos.baidu.com/video/pic/item/30adcbef76094b363e18f299a4cc7cd98d109d38.jpg" alt="男子割掉妻子鼻子扔掉" />
<span class='gradient-bg'>&nbsp;</span>
<span class='vid-info'>男子割掉妻子鼻子扔掉<p>扔进抽水马桶冲走</p>
<i class='play-icon'>
89.5&nbsp;万</i>
<i class='play-video'>播放</i>
</span>
</a>
</div>
</div>
<div class="item ">
<div class="video h-item">
<a class='active' target="_blank" href="http://baidu.56.com/kan/aw3nV?fr=v.baidu.com/" title='网红是怎么练成的?' static='6'>
<img class='vid-cover' src="http://d.hiphotos.baidu.com/video/pic/item/77094b36acaf2edd256f969d8a1001e93901932c.jpg" alt="网红是怎么练成的?" />
<span class='gradient-bg'>&nbsp;</span>
<span class='vid-info'>网红是怎么练成的?<p>网红的世界你不懂</p>
<i class='play-icon'>
87.1&nbsp;万</i>
<i class='play-video'>播放</i>
</span>
</a>
</div>
</div>
<div class="item lastEdge">
<div class="video h-item">
<a class='active' target="_blank" href="http://www.iqiyi.com/v_19rrlb8ieo.html#vfrm=2-3-0-1" title='赵薇现身央视春晚彩排' static='7'>
<img class='vid-cover' src="http://g.hiphotos.baidu.com/video/pic/item/f11f3a292df5e0fe36fa5e755b6034a85fdf72e0.jpg" alt="赵薇现身央视春晚彩排" />
<span class='gradient-bg'>&nbsp;</span>
<span class='vid-info'>赵薇现身央视春晚彩排<p>独唱《六尺巷》</p>
<i class='play-icon'>
89.0&nbsp;万</i>
<i class='play-video'>播放</i>
</span>
</a>
</div>
</div>
<div class="item ">
<div class="video h-item">
<a class='active' target="_blank" href="http://spread.xiu8.com/spreed!baiduGo.jspa?pid=1070&sid=3&t=2" title='养眼美眉女神范' static='8'>
<img class='vid-cover' src="http://b.hiphotos.baidu.com/video/pic/item/b812c8fcc3cec3fdc3da177fd188d43f869427d7.jpg" alt="养眼美眉女神范" />
<span class='gradient-bg'>&nbsp;</span>
<span class='vid-info'>养眼美眉女神范<p>柔情性感皆可得</p>
<i class='play-icon'>
90.8&nbsp;万</i>
<i class='play-video'>播放</i>
</span>
</a>
</div>
</div>
<div class="item ">
<div class="video h-item">
<a class='active' target="_blank" href="http://baidu.v.ifeng.com/kan/aw3aq?fr=v.baidu.com/" title='67岁男子娶27岁小女友' static='9'>
<img class='vid-cover' src="http://b.hiphotos.baidu.com/video/pic/item/2cf5e0fe9925bc31e963eaec59df8db1cb13708c.jpg" alt="67岁男子娶27岁小女友" />
<span class='gradient-bg'>&nbsp;</span>
<span class='vid-info'>67岁男子娶27岁小女友<p>拟与第八任妻子离婚</p>
<i class='play-icon'>
90.6&nbsp;万</i>
<i class='play-video'>播放</i>
</span>
</a>
</div>
</div>
</div>
</div>
<div class="focus-list-block" static="bl=index_focus_text_list&to=play" monkey="focusList" monkeyconfig="event=click&to=play">
<ul>
<li><a href="http://baidu.56.com/kan/aw3nD?fr=v.baidu.com/"  target="_blank" title='这年头，外卖哥也非路人！外卖哥演唱《外卖歌》乐翻众人' static='1'>这年头，外卖哥也非路人！外卖哥演唱《外卖歌》乐翻众人</a></li>
<li><a href="http://baidu.56.com/kan/aw3nM?fr=v.baidu.com/"  target="_blank" title='科技改变春运！如果不想春节“人在囧途”，你需要这些高科技' static='2'>科技改变春运！如果不想春节“人在囧途”，你需要这些高科技</a></li>
<li><a href="http://www.iqiyi.com/v_19rrlb3h3o.html"  target="_blank" title='这是要闹哪样？实拍货车被卡铁路上 司机逃生车厢被撞粉碎' static='3'>这是要闹哪样？实拍货车被卡铁路上 司机逃生车厢被撞粉碎</a></li>
<li><a href="http://www.iqiyi.com/v_19rrlb46kg.html"  target="_blank" title='等你来破案~离奇！身高1.8米男“1秒”消失 溺毙半米水渠' static='4'>等你来破案~离奇！身高1.8米男“1秒”消失 溺毙半米水渠</a></li>
<li><a href="http://www.iqiyi.com/v_19rrlb3s60.html"  target="_blank" title='敬业！杀人嫌犯为逃命跳下四楼：想不到警察也敢跟着跳' static='5'>敬业！杀人嫌犯为逃命跳下四楼：想不到警察也敢跟着跳</a></li>
</ul>
</div>
</div>
</div>
<div id="topAllSide" class="side">

<div class="mod-aside mod-aside-pic" id="topAll" monkey="index_top_all">
<div class="hd-aside bdv-tabslider-control" monkeyconfig="event=click">
<h2>风云榜</h2>
<ul class="top-tab bdv-tabslider-dot" static="bl=index_top_all_tab">
<li class="dot-selected">
<a href="http://v.baidu.com/top/" target="_blank">总榜</a>
</li>
<li >
<a href="http://v.baidu.com/top/?section=movie" target="_blank">电影</a>
</li>
<li >
<a href="http://v.baidu.com/top/?section=tvplay" target="_blank">电视</a>
</li>
<li >
<a href="http://v.baidu.com/top/?section=tvshow" target="_blank">综艺</a>
</li>
<li >
<a href="http://v.baidu.com/top/?section=comic" target="_blank">动漫</a>
</li>
</ul>
</div>
<div class="bd-aside" static="bl=index_top_all&blname=%E9%A3%8E%E4%BA%91%E6%A6%9C&to=search" monkeyconfig="event=click&to=search">
<ul class="bdv-tabslider-list">
<li class="bdv-tabslider-item item-selected">
<ul class="top-list">
<li class="top-first">
<a href='http://v.baidu.com/show/14239.htm?frp=browse'  title=我是歌手 第4季 alt="我是歌手 第4季" target="_blank">
<img src="http://e.hiphotos.baidu.com/video/pic/item/77c6a7efce1b9d1680e0a565f4deb48f8c54648a.jpg" alt="我是歌手 第4季"  />
<span class="gradient-bg"></span>
<span class="top-playicon"></span>
<span class="top-num">1</span>
<span class="top-title">我是歌手 第4季</span>
<span class="top-playnum">996.3&nbsp;万</span>
</a>
</li>
<li class="top-list-three">
<a href='http://v.baidu.com/tv/23404.htm?frp=browse' title=少帅 target="_blank">
<span class="top-num">2</span>
<span class="top-title">少帅</span>
<span class="top-playnum">996.2&nbsp;万</span>
</a>
</li>
<li class="top-list-three">
<a href='http://v.baidu.com/movie/119393.htm?frp=browse' title=大圣归来 target="_blank">
<span class="top-num">3</span>
<span class="top-title">大圣归来</span>
<span class="top-playnum">995.9&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/tv/23355.htm?frp=browse' title=特种兵之霹雳火 target="_blank">
<span class="top-num">4</span>
<span class="top-title">特种兵之霹雳火</span>
<span class="top-playnum">994.8&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/tv/23427.htm?frp=browse' title=蜀山战纪 target="_blank">
<span class="top-num">5</span>
<span class="top-title">蜀山战纪</span>
<span class="top-playnum">993.4&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/tv/23260.htm?frp=browse' title=秦时明月 target="_blank">
<span class="top-num">6</span>
<span class="top-title">秦时明月</span>
<span class="top-playnum">992.6&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/tv/23403.htm?frp=browse' title=煮妇神探 target="_blank">
<span class="top-num">7</span>
<span class="top-title">煮妇神探</span>
<span class="top-playnum">990.3&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/show/13503.htm?frp=browse' title=奔跑吧兄弟 第3季 target="_blank">
<span class="top-num">8</span>
<span class="top-title">奔跑吧兄弟 第3季</span>
<span class="top-playnum">983.1&nbsp;万</span>
</a>
</li>
</ul>
</li>
<li class="bdv-tabslider-item ">
<script type="text/html">
					<ul class="top-list">
<li class="top-first">
<a href='http://v.baidu.com/movie/120872.htm?frp=browse'  title=解救吾先生 alt="解救吾先生" target="_blank">
<img src="http://a.hiphotos.baidu.com/video/pic/item/0824ab18972bd40710d753e57c899e510fb30991.jpg" alt="解救吾先生"  />
<span class="gradient-bg"></span>
<span class="top-playicon"></span>
<span class="top-num">1</span>
<span class="top-title">解救吾先生</span>
<span class="top-playnum">960.9&nbsp;万</span>
</a>
</li>
<li class="top-list-three">
<a href='http://v.baidu.com/movie/119986.htm?frp=browse' title=一个勺子 target="_blank">
<span class="top-num">2</span>
<span class="top-title">一个勺子</span>
<span class="top-playnum">950.7&nbsp;万</span>
</a>
</li>
<li class="top-list-three">
<a href='http://v.baidu.com/movie/120208.htm?frp=browse' title=少年班 target="_blank">
<span class="top-num">3</span>
<span class="top-title">少年班</span>
<span class="top-playnum">930.9&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/movie/118583.htm?frp=browse' title=烈日灼心 target="_blank">
<span class="top-num">4</span>
<span class="top-title">烈日灼心</span>
<span class="top-playnum">912.8&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/movie/120459.htm?frp=browse' title=太平轮 彼岸 target="_blank">
<span class="top-num">5</span>
<span class="top-title">太平轮 彼岸</span>
<span class="top-playnum">880.3&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/movie/120207.htm?frp=browse' title=杀破狼2 target="_blank">
<span class="top-num">6</span>
<span class="top-title">杀破狼2</span>
<span class="top-playnum">862.8&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/movie/120391.htm?frp=browse' title=捉妖记 target="_blank">
<span class="top-num">7</span>
<span class="top-title">捉妖记</span>
<span class="top-playnum">837.9&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/movie/120179.htm?frp=browse' title=明日世界 target="_blank">
<span class="top-num">8</span>
<span class="top-title">明日世界</span>
<span class="top-playnum">813.1&nbsp;万</span>
</a>
</li>
</ul>
				</script>
</li>
<li class="bdv-tabslider-item ">
<script type="text/html">
					<ul class="top-list">
<li class="top-first">
<a href='http://v.baidu.com/tv/23367.htm?frp=browse'  title=太子妃升职记 alt="太子妃升职记" target="_blank">
<img src="http://g.hiphotos.baidu.com/video/pic/item/8644ebf81a4c510fa0801a1a6759252dd42aa56e.jpg" alt="太子妃升职记"  />
<span class="gradient-bg"></span>
<span class="top-playicon"></span>
<span class="top-num">1</span>
<span class="top-title">太子妃升职记</span>
<span class="top-playnum">980.0&nbsp;万</span>
</a>
</li>
<li class="top-list-three">
<a href='http://v.baidu.com/tv/23355.htm?frp=browse' title=特种兵之霹雳火 target="_blank">
<span class="top-num">2</span>
<span class="top-title">特种兵之霹雳火</span>
<span class="top-playnum">970.0&nbsp;万</span>
</a>
</li>
<li class="top-list-three">
<a href='http://v.baidu.com/tv/23404.htm?frp=browse' title=少帅 target="_blank">
<span class="top-num">3</span>
<span class="top-title">少帅</span>
<span class="top-playnum">958.0&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/tv/23427.htm?frp=browse' title=蜀山战纪之剑侠传奇 target="_blank">
<span class="top-num">4</span>
<span class="top-title">蜀山战纪之剑侠传奇</span>
<span class="top-playnum">955.0&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/tv/23403.htm?frp=browse' title=煮妇神探 target="_blank">
<span class="top-num">5</span>
<span class="top-title">煮妇神探</span>
<span class="top-playnum">950.0&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/tv/23419.htm?frp=browse' title=陆军一号 target="_blank">
<span class="top-num">6</span>
<span class="top-title">陆军一号</span>
<span class="top-playnum">945.0&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/tv/23260.htm?frp=browse' title=秦时明月 target="_blank">
<span class="top-num">7</span>
<span class="top-title">秦时明月</span>
<span class="top-playnum">940.0&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/tv/23415.htm?frp=browse' title=天天有喜之人间有爱 target="_blank">
<span class="top-num">8</span>
<span class="top-title">天天有喜之人间有爱</span>
<span class="top-playnum">938.0&nbsp;万</span>
</a>
</li>
</ul>
				</script>
</li>
<li class="bdv-tabslider-item ">
<script type="text/html">
					<ul class="top-list">
<li class="top-first">
<a href='http://v.baidu.com/show/14239.htm'  title=我是歌手4 alt="我是歌手4" target="_blank">
<img src="http://a.hiphotos.baidu.com/video/pic/item/a50f4bfbfbedab64e23774c4f036afc379311e68.jpg" alt="我是歌手4"  />
<span class="gradient-bg"></span>
<span class="top-playicon"></span>
<span class="top-num">1</span>
<span class="top-title">我是歌手4</span>
<span class="top-playnum">998.5&nbsp;万</span>
</a>
</li>
<li class="top-list-three">
<a href='http://v.baidu.com/show/13503.htm?frp=browse' title=奔跑吧兄弟3 target="_blank">
<span class="top-num">2</span>
<span class="top-title">奔跑吧兄弟3</span>
<span class="top-playnum">998.4&nbsp;万</span>
</a>
</li>
<li class="top-list-three">
<a href='http://v.baidu.com/show/290.htm?frp=bdbrand' title=非诚勿扰 target="_blank">
<span class="top-num">3</span>
<span class="top-title">非诚勿扰</span>
<span class="top-playnum">997.4&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/show/13699.htm?frp=browse' title=了不起的挑战 target="_blank">
<span class="top-num">4</span>
<span class="top-title">了不起的挑战</span>
<span class="top-playnum">988.1&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/show/13429.htm?frp=browse' title=全员加速中 target="_blank">
<span class="top-num">5</span>
<span class="top-title">全员加速中</span>
<span class="top-playnum">996.4&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/show/13395.htm?frp=browse' title=跟着贝尔去冒险 target="_blank">
<span class="top-num">6</span>
<span class="top-title">跟着贝尔去冒险</span>
<span class="top-playnum">989.1&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/show/13514.htm?frp=browse' title=一年级大学季 target="_blank">
<span class="top-num">7</span>
<span class="top-title">一年级大学季</span>
<span class="top-playnum">988.1&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/show/16.htm?frp=bdbrand' title=爱情保卫战 target="_blank">
<span class="top-num">8</span>
<span class="top-title">爱情保卫战</span>
<span class="top-playnum">985.5&nbsp;万</span>
</a>
</li>
</ul>
				</script>
</li>
<li class="bdv-tabslider-item ">
<script type="text/html">
					<ul class="top-list">
<li class="top-first">
<a href='http://v.baidu.com/comic/13860.htm?frp=browse'  title=终结的炽天使 alt="终结的炽天使" target="_blank">
<img src="http://e.hiphotos.baidu.com/video/pic/item/5243fbf2b21193136a8c4ebf62380cd790238df6.jpg" alt="终结的炽天使"  />
<span class="gradient-bg"></span>
<span class="top-playicon"></span>
<span class="top-num">1</span>
<span class="top-title">终结的炽天使</span>
<span class="top-playnum">998.4&nbsp;万</span>
</a>
</li>
<li class="top-list-three">
<a href='http://v.baidu.com/comic/14873.htm?frp=browse' title=铠甲勇士捕将 target="_blank">
<span class="top-num">2</span>
<span class="top-title">铠甲勇士捕将</span>
<span class="top-playnum">997.4&nbsp;万</span>
</a>
</li>
<li class="top-list-three">
<a href='http://v.baidu.com/comic/14859.htm?frp=browse' title=数码宝贝tri target="_blank">
<span class="top-num">3</span>
<span class="top-title">数码宝贝tri</span>
<span class="top-playnum">994.3&nbsp;万</span>
</a>
</li>
<li >
<a href='http://v.baidu.com/comic/14674.htm?frp=browse' title=假面骑士Ghost target="_blank">
<span class="top-num">4</span>
<span class="top-title">假面骑士Ghost</span>
<span class="top-playnum">990.1&nbsp;万</span>
</a>
</li>
<li >
<a href='